@using FreeMarket.Models
@model RateOrderViewModel

@{
    ViewBag.Title = "Rate Your Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="col-md-12">
        <div class="row">
            <h1 class="text-center">Please Rate Your Order (@Model.Order.OrderNumber)</h1>
            <hr />
        </div>
        
        @using (Html.BeginForm("UpdateReviews", "Manage", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            
            @Html.Partial("_ReviewsPartial", Model)
            <div class="col-md-offset-5">
                <input type="submit" value="Save/Update" class="btn btn-success" />
            </div>
        }
    </div>
</div>
