@using FreeMarket.Models
@model OrderHeader

@{
    ViewBag.Title = "View Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-center">@ViewBag.Title</h2>
<hr />


<table class="table table-bordered-custom table-responsive">
    <tr class="well">
        <th class="col-sm-1">
            Order #
        </th>
    </tr>

    <tr>
        <td>
            
        </td>
    </tr>

</table>

