<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=localhost;Initial Catalog=OverbergTradingPost;persist security info=True;user id=sa;password=!Free#Pecans#4" providerName="System.Data.SqlClient" />
  <add name="FreeMarketEntities" connectionString="metadata=res://*/Models.FreeMarketModel.csdl|res://*/Models.FreeMarketModel.ssdl|res://*/Models.FreeMarketModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=OverbergTradingPost;persist security info=True;user id=sa;password=!Free#Pecans#4;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="FreeMarketConnectionString" connectionString="Data Source=localhost;Initial Catalog=OverbergTradingPost;User ID=sa;Password=!Free#Pecans#4" providerName="System.Data.SqlClient" />
</connectionStrings>