@using FreeMarket.Models
@model SpecialMessageViewModel

<div class="row">
    <div class="col-md-12 well-banner well-sm text-center">
        <span style="font-size:30px; color:gold;">@Model.SpecialMessage</span>
    </div>
</div>