@using FreeMarket.Models
@model Support

@{
    ViewBag.Title = "Contact Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="parent" class="center_div container">
    <div class="col-sm-12">
        <div class="row">
            <h1 class="text-center">Contact Us</h1>
            <hr />
        </div>
        <div class="row well">
            <h2>Location</h2>
            Schoombee And Son is a partnership that is based in Struisbaai in the Western Cape
            of South Africa that specializes in Pecan Nuts.

            Please feel free to contact us with any queries or concerns.
        </div>

        <div class="row well">
            <h2>Phone</h2>
            <div>
                <span class="glyphicon glyphicon-phone">@Model.Landline</span>
            </div>
            <div>
                <span class="glyphicon glyphicon-phone">@Model.Cellphone</span>
            </div>
        </div>

        <div class="row well">
            <h2>Email</h2>
            <span class="glyphicon glyphicon-pencil"><a class="freemarket-link" href="mailto:@Model.Email">Email Us</a></span>
        </div>
        <div class="col-md-offset-4 row">
            <a class="btn btn-success" href="@Url.Action("Departments", "Product")"><span class="glyphicon glyphicon-shopping-cart">&nbsp;&nbsp;Start Shopping!</span></a>
        </div>
    </div>
</div>

<script type="text/javascript">

$(document).ready(function(){

     $("#myCarousel").carousel({

         interval : 5000

     });

});

</script>