@using FreeMarket.Models
@model TermsAndConditionsViewModel

<div class="form-horizontal well well-modal">
    <h1>Terms and Conditions</h1>
    <hr />
                        
    <div class="table-scroll-parent">
        @Html.Raw(Model.Content)
    </div>
                        
</div>


