<table class="table table-bordered-custom table-responsive">
    <tr>
        <th class="col-sm-4">
            Function
        </th>
        <th class="col-sm-8">
            Description
        </th>
    </tr>
    <tr>
        <td>
            <div><span class="glyphicon glyphicon-edit"></span>&nbsp;@Html.ActionLink("Products", "ProductsIndex")</div>
        </td>
        <td>
            Activate or deactivate products. Modify prices. Create new products.
        </td>
    </tr>
    <tr>
        <td>
            <div><span class="glyphicon glyphicon-edit"></span>&nbsp;@Html.ActionLink("Suppliers", "SuppliersIndex")</div>
        </td>
        <td>
            Create or modify suppliers.
        </td>
    </tr>
    <tr>
        <td>
            <div><span class="glyphicon glyphicon-edit"></span>&nbsp;@Html.ActionLink("Couriers", "CouriersIndex")</div>
        </td>
        <td>
            Modify courier data.
        </td>
    </tr>
    <tr>
        <td>
            <div><span class="glyphicon glyphicon-edit"></span>&nbsp;@Html.ActionLink("Custodians", "CustodianActivationIndex")</div>
        </td>
        <td>
            Add or modify custodians. Activate or deactivate products which custodians can sell.
        </td>
    </tr>
    <tr>
        <td>
            <div><span class="glyphicon glyphicon-edit"></span>&nbsp;@Html.ActionLink("Departments", "DepartmentsIndex")</div>
        </td>
        <td>
            Add or modify departments.
        </td>
    </tr>
    <tr>
        <td colspan="2" class="well"></td>
    </tr>
    <tr>
        <td>
            <div><span class="glyphicon glyphicon-edit"></span>&nbsp;@Html.ActionLink("Price History", "PriceHistoryIndex")</div>
        </td>
        <td>
            View a history of price changes over time.
        </td>
    </tr>
    <tr>
        <td>
            <div><span class="glyphicon glyphicon-edit"></span>&nbsp;@Html.ActionLink("Time Freight Prices", "TimeFreightIndex")</div>
        </td>
        <td>
            Modify delivery fees for Time Freight courier based on postal code range and weight range.
        </td>
    </tr>
    <tr>
        <td>
            <div><span class="glyphicon glyphicon-edit"></span>&nbsp;@Html.ActionLink("Post Office Prices", "PostOfficeIndex")</div>
        </td>
        <td>
            Modify post office delivery fees.
        </td>
    </tr>
    <tr>
        <td>
            <div><span class="glyphicon glyphicon-edit"></span>&nbsp;@Html.ActionLink("Specials", "SpecialsIndex")</div>
        </td>
        <td>
            Modify which postal codes are considered free delivery zones and which postal codes have special prices.
        </td>
    </tr>
    <tr>
        <td colspan="2" class="well"></td>
    </tr>
    <tr>
        <td>
            <div><span class="glyphicon glyphicon-edit"></span>&nbsp;@Html.ActionLink("Stock", "CustodiansIndex")</div>
        </td>
        <td>
            Add or remove stock.
        </td>
    </tr>
    <tr>
        <td colspan="2" class="well"></td>
    </tr>
    <tr>
        <td>
            <div><span class="glyphicon glyphicon-edit"></span>&nbsp;@Html.ActionLink("Site Config", "SiteConfigIndex")</div>
        </td>
        <td>
            Modify configurations which influence the text displayed on the website as well as the text displayed in emails and SMS's.
        </td>
    </tr>
    <tr>
        <td>
            <div><span class="glyphicon glyphicon-download"></span>&nbsp;@Html.ActionLink("Download Reports", "DownloadReport")</div>
        </td>
        <td>
            Download reports by order number.
        </td>
    </tr>

</table>