@using FreeMarket.Models
@model List<AuditUser>

<table class="table table-bordered-custom table-responsive">
    <tr>
        <th class="col-md-3">Time Stamp</th>
        <th class="col-md-3">Action Performed</th>
        <th class="col-md-3">Additional Information</th>
        <th class="col-md-3">User</th>
    </tr>
    @if (Model != null && Model.Count > 0)
    {
        foreach (AuditUser audit in Model)
        {
            <tr>
                <td>
                    @audit.DateTime
                </td>
                <td>
                    @audit.ActionDescription
                </td>

                <td style="word-wrap: break-word;min-width: 380px;max-width: 380px;">
                    @audit.Parameters
                </td>

                <td>
                    @audit.Identity
                </td>
            </tr>
        }
    }

</table>
