@using FreeMarket.Models
@model Custodian
@{
    ViewBag.Title = "Create Custodian";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-center"><span class="glyphicon glyphicon-edit text-success"></span>&nbsp;Create Custodian</h2>
<hr />

<div id="parent" class="container center_div">

    @if (Model != null)
    {
        using (Html.BeginForm("CreateCustodianProcess", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "custodiansActivationForm" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="well well-modal">
                @Html.Partial("_CustodianActivationPartial", Model)
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-info" value="Update" />
                </div>
            </div>
        }
}

</div>

@Html.Partial("_ValidateCustodianActivationPartial")