@using FreeMarket.Models
@model PostalFee
@{
    ViewBag.Title = "Edit Postal Fee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-center"><span class="glyphicon glyphicon-edit text-success"></span>&nbsp;Edit Postal Fee</h2>
<hr />

<div id="parent" class="container well well-modal center_div">

    @if (Model != null)
    {
        using (Html.BeginForm("EditPostalFeeProcess", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "postalFeesForm" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div>
                @Html.Partial("_PostOfficePartial", Model)
            </div>
            
            <hr />

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-primary" value="Save" />
                </div>
            </div>
        }
    }

</div>

@Html.Partial("_ValidatePostOfficePartial")