@using FreeMarket.Models
@model AspNetUserCustomer
@{
    ViewBag.Title = "View Customer";
}

<br />
<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div id="parent" class="container center_div well well-modal">
@if (Model != null)
{

    @Html.Partial("_CustomerPartial", Model)

    <div class="text-center">
        @Html.ActionLink("Back", "Index", "Admin", new { @class = "btn btn-success" })
    </div>

}
</div>
