@model FreeMarket.Models.ShoppingCart

@{ 
    string shippingMessage = "";
    string deliveryType = "";

    if (!User.Identity.IsAuthenticated)
    {
        shippingMessage = "Please log in to calculate delivery costs.";
    }
    else if (Model.Order.OrderNumber == 0)
    {
        shippingMessage = "Please save your order to calculate shipping costs.";
    }
    else
    {
        if(Model.Order.ShippingTotal == 0)
        {
            shippingMessage = "Free!";
        }
        else
        {
            shippingMessage = string.Format("{0:C}", Model.Order.ShippingTotal);
        }
    }

    if (Model.Order.DeliveryType == "PostOffice")
    {
        deliveryType = "(Post Office)";
    }
    else if (Model.Order.DeliveryType == "Courier")
    {
        deliveryType = "(Courier)";
    }
}
<table class="table table-condensed table-bordered-totals well">
    <tr>
        <td class="col-sm-2 text-left"><strong>Sub-Total:</strong></td>
        <td class="col-sm-2 text-right"><strong>@string.Format("{0:C}", Model.Order.SubTotal)</strong></td>
    </tr>
    <tr>
        <td class="col-sm-2 text-left"><strong>Shipping: <i style="font-size:smaller">@deliveryType</i></strong></td>
        <td class="col-sm-2 text-right"><strong>@shippingMessage</strong></td>
    </tr>
    <tr>
        <td class="col-sm-2 text-left"><strong style="font-size: 24px">Total:</strong></td>
        <td class="col-sm-2 text-right" ><strong style="font-size: 24px">@string.Format("{0:C}", Model.Order.TotalOrderValue)</strong></td>
    </tr>
</table>


