@model FreeMarket.Models.ShoppingCart

@{ 
    string shippingMessage = "";

    if (Model.Order.OrderNumber == 0)
    {
        shippingMessage = "Please Log in to calculate Shipping costs.";
    }
    else
    {
        if(Model.Order.ShippingTotal == 0)
        {
            shippingMessage = "Free!";
        }
        else
        {
            shippingMessage = string.Format("{0:C}", Model.Order.ShippingTotal);
        }
    }
}
<table class="table table-condensed table-bordered-totals well">
    <tr>
        <td class="col-sm-2 text-left"><strong>Sub-Total:</strong></td>
        <td class="col-sm-2 text-right"><strong>@string.Format("{0:C}", Model.Order.SubTotal)</strong></td>
    </tr>
    <tr>
        <td class="col-sm-2 text-left"><strong>Shipping: <i style="font-size:smaller">(other delivery options/costs available at checkout)</i></strong></td>
        <td class="col-sm-2 text-right"><strong>@shippingMessage</strong></td>
    </tr>
    <tr>
        <td class="col-sm-2 text-left"><strong style="font-size: 24px">Total:</strong></td>
        <td class="col-sm-2 text-right" ><strong style="font-size: 24px">@string.Format("{0:C}", Model.Order.TotalOrderValue)</strong></td>
    </tr>
</table>


