@model FreeMarket.Models.ShoppingCartViewModel

<div class="col-md-10">
    <input type="submit" value="Update Shopping Cart" class="btn btn-primary" />
    <a class="btn btn-primary" href="@Model.ReturnUrl">Continue Shopping</a>
</div>