@model FreeMarket.Models.ShoppingCartViewModel

<div class="col-md-12 well">
    <input type="submit" value="Update and Save Shopping Cart" class="btn btn-primary" />
    <a class="btn btn-primary" href="@Model.ReturnUrl">Continue Shopping</a>
</div>