@model FreeMarket.Models.ShoppingCart

<table class="table table-condensed table-bordered-custom text-right">
    <tr>
        <td><strong>Total:</strong></td>
        <td><strong>@string.Format("{0:C}", Model.Order.TotalOrderValue)</strong></td>
    </tr>
</table>


