<div class="modal fade" id="SaveModal" tabindex="-1" role="dialog">
    <div id='SaveContainer'>
    </div>
</div>

<script type="text/javascript" src="~/Scripts/bootstrapValidator.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('.saveClass').click(function (evt) {
            evt.preventDefault();
            var urlId = $(this).data('id');
            $.ajax({
                url: urlId,
                cache: false
            }).done
            (function (data) {
                $('#SaveContainer').html(data);
            });
            $('.modal-content').empty();
            $('#SaveModal').removeData('bs.modal');
            $('#SaveModal').modal('show');
        });
    });
</script>

