@using FreeMarket.Models
@model CourierFeeViewModel

@if (Model.CannotDeliver == null)
{
    <span>@Model.CustodianQuantityOnHand units in stock.</span>
}
else if (Model.CannotDeliver == true)
{
    <span class="text-danger">This item is either out of stock or cannot be delivered to your current address.</span>
}
else
{
    if (User.Identity.IsAuthenticated)
    {
        <span style="white-space :pre-line" data-toggle="tooltip" data-placement="bottom" title="@Html.Action("GetDeliveryAddress", "ShoppingCart")" aria-hidden="true">@Model.CustodianQuantityOnHand units in stock.</span>
    }
    else
    {
        <span>@Model.CustodianQuantityOnHand units in stock.</span>
    }
}



