@using FreeMarket.Models
@model CourierFeeViewModel

<strong>Availability:</strong>

@if (Model.CannotDeliver == null)
{
    <span class="glyphicon glyphicon-warning-sign text-warning">Please log in to check availability of this item.</span>
}
else if (Model.CannotDeliver == true)
{
    <span class="glyphicon glyphicon-remove-circle text-danger">This item is either out of stock or cannot be delivered to your current address.</span>
}
else
{
    <span class="glyphicon glyphicon-ok-circle text-success" style="white-space :pre-line" data-toggle="tooltip" data-placement="bottom" title="@Html.Action("GetDeliveryAddress", "ShoppingCart")" aria-hidden="true">Available to be delivered and in stock.</span>
}



