<div>
    <img src="~/Content/Images/PayGate-Direct-Pay-Online-Logo-Online-Payment-Processing-Small.png" />
    <img src="~/Content/Images/PayGate-Card-Brand-Logo-Visa-Small.png" />
    <img src="~/Content/Images/PayGate-Card-Brand-Logo-MasterCard-Small.png" />
    <img src="~/Content/Images/PayGate-3D-Secure-Logo-Verified-by-Visa-Small.png" />
    <img src="~/Content/Images/PayGate-3D-Secure-Logo-MasterCard-SecureCode-Small.png" />
</div>
