@using FreeMarket.Models
@model PaymentOptionViewModel

@{
    ViewBag.Title = "Secure Checkout - Choose Payment Option";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center"><span class="glyphicon glyphicon-lock"></span>@ViewBag.Title</h2>
<hr />

<div id="parent" class="container center_div well well-modal">

    <div class="text-center">
        <table class="table table-bordered-custom table-responsive">
            @foreach (PaymentOption option in Model.options)
            {
                if (option.PaymentOptionID == 1)
                {
                    <tr>
                        <td>
                            <div class="row">
                                <a class="btn btn-primary" href="@Url.Action("ConfirmInvoice", "ShoppingCart")"><span class="glyphicon glyphicon-inbox">&nbsp;&nbsp;@option.Description</span></a>
                            </div>
                        </td>
                    </tr>
                }
                else if (option.PaymentOptionID == 2)
                {
                    <tr>
                        <td>
                            <div class="row">
                                <a class="btn btn-primary" href="@Url.Action("ConfirmShoppingCart", "ShoppingCart")"><span class="glyphicon glyphicon-credit-card">&nbsp;&nbsp;@option.Description</span></a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
</div>
