@*<a href="https://www.paygate.co.za/">
    <img src="~/Content/Images/PayGate-Direct-Pay-Online-Logo-Online-Payment-Processing.png" alt="PayGate" />
</a>

<a href="http://www.visa.co.za/">
    <img src="~/Content/Images/PayGate-Card-Brand-Logo-Visa.png" alt="Visa"/>
</a>

<a href="http://www.mastercard.com/za/consumer/index.html">
    <img src="~/Content/Images/PayGate-Card-Brand-Logo-MasterCard.png" alt="MasterCard" />
</a>

<a href="http://www.visa.co.za/">
    <img src="~/Content/Images/PayGate-3D-Secure-Logo-Verified-by-Visa.png" alt="Visa" />
</a>

<a href="http://www.mastercard.com/za/consumer/index.html">
    <img src="~/Content/Images/PayGate-3D-Secure-Logo-MasterCard-SecureCode.png" alt="MasterCard" />
</a>*@

<a href="https://www.smartweb.co.za/comodo-ssl-certificates.php">
    <img src="~/Content/Images/comodo.png" alt="Comodo SSL"/>
</a>
