<a href="https://www.paygate.co.za/">
    <img src="~/Content/Images/PayGate-Direct-Pay-Online-Logo-Online-Payment-Processing.png" />
</a>

<a href="http://www.visa.co.za/">
    <img src="~/Content/Images/PayGate-Card-Brand-Logo-Visa.png" />
</a>

<a href="http://www.mastercard.com/za/consumer/index.html">
    <img src="~/Content/Images/PayGate-Card-Brand-Logo-MasterCard.png" />
</a>

<a href="http://www.visa.co.za/">
    <img src="~/Content/Images/PayGate-3D-Secure-Logo-Verified-by-Visa.png" />
</a>

<a href="http://www.mastercard.com/za/consumer/index.html">
    <img src="~/Content/Images/PayGate-3D-Secure-Logo-MasterCard-SecureCode.png" />
</a>

<a href="https://www.rapidssl.com/learn-ssl/">
    <img src="~/Content/Images/RapidSSL_SEAL-90x50.gif" />
</a>
