@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>There seems to be a problem...</h1>
<h2>We experienced an error while processing your request. Please try again later.</h2>

