@model HandleErrorInfo

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="parent" class="text-center well well-modal">
    <h2>An error occurred, please try to refresh the page and start again. We apologize for the inconvenience.</h2>

    @Html.ActionLink("Go back to home", "Index", "Product")
</div>

