@model HandleErrorInfo

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>There seems to be a problem...</h1>
<h2>We experienced an error while processing your request. Please try again later.</h2>

<div>
    @Html.ActionLink("Go back to home", "Index", "Home")
</div>

