input::-webkit-calendar-picker-indicator{
    display: none;
}

input[type="date"]::-webkit-input-placeholder{ 
    visibility: hidden !important;
}

h1 {
    color:white;
    background: #5A3F37; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #5A3F37 , #2C7744); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #5A3F37 , #2C7744); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h2 {
    color:white;
    background: #5A3F37; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #5A3F37 , #2C7744); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #5A3F37 , #2C7744); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h3 {
    color:white;
    background: #5A3F37; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #5A3F37 , #2C7744); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #5A3F37 , #2C7744); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h4 {
    color:white;
    background: #5A3F37; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #5A3F37 , #2C7744); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #5A3F37 , #2C7744); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

hr {
    border-top: 1px solid gray !important;
}

footer {
    color:white;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
    color: black
}

.carousel {
    background: inherit;
    margin-top: 20px;
}

.carousel .item img {
    margin: 0 auto; /* Align slide image horizontally center */
}

.center_div {
    margin: 0 auto;
    width: 50%; /* value of your choice which suits your alignment */
}

body {
    background-image: url('Images/background3.jpg');
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: white;
}

.date{
background-color: #fff ;
color: #333 ;
}

.navbar-nav > li > a, .navbar-brand {
    padding-top: 4px !important;
    padding-bottom: 0 !important;
    height: 45px;
}

.navbar {
    min-height: 45px !important;
}

a:hover {
    cursor: pointer;
}

.form-control:focus {
    border-color: darkslateblue;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(255, 100, 255, 0.5);
}

.table-bordered-custom td {
    /*border: 1px solid #ddd !important;*/
    border: 2px solid !important;
    border-color: white;
    font-size: 18px !important;
    /*font-family: 'Arial' !important;*/
    font-weight: 600;
}

.table-bordered-custom th {
    /*border: 1px solid #ddd !important;*/
    border: 2px solid white !important;
    font-size: 20px !important;
    /*font-family: 'Arial' !important;*/
    font-weight: 700;
    text-align:center;
}

.table-bordered-totals td {
    border: 2px solid !important;
    border-color: white;
    font-size: 18px !important;
    font-weight: 600;
}

.table td {
    font-size: 20px !important;
}

.table-striped td {
  text-align: center;
}

#loadingDiv {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    background-image: url('Images/loading.gif');
    background-repeat: no-repeat;
    background-position: center;
    z-index: 10000000;
    opacity: 0.6;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}

.glyphicon {
    font-family: inherit;
}

.glyphicon:before {
    font-family: 'Glyphicons Halflings';
}

.well {
    background: #76b852; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #76b852 , #8DC26F); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #76b852 , #8DC26F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.well-modal {
    background: #5A3F37; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #5A3F37 , #2C7744); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #5A3F37 , #2C7744); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.well-banner {
    background: #52c234; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #52c234 , #061700); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #52c234 , #061700); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.modal-content {
    background: #5A3F37; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #5A3F37 , #2C7744); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #5A3F37 , #2C7744); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

input, select, text {
    color: black;
}

/*.well {
    background: rgb(153, 255, 153);
}
/*.well {
    background: rgb(153, 255, 153);
}*/

.form-control-inline {
    width: 100%;
    height: 40px;
    padding: 8px 12px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #333333;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #dddddd;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.border-div {
    border: thin solid black !important;
}

/* some basic table styles */

table {
    width: 100%;
}

thead {
    border-bottom: 1px solid #000;
}

    thead th {
        text-align: left;
    }

th, td {
    padding: 2px;
}

@media screen and (max-width: 600px) {

    .table-bordered-custom th{
        display: none !important; 
    }

    .table-bordered-custom table{
        display: block;
        text-align: center;
        align-content: center;
    }

    .table-bordered-custom tbody{
        display: block;
        text-align: center;
        align-content: center;
    }

    .table-bordered-custom tr{
        display: block;
        text-align: center;
        align-content: center;
    }

    .table-bordered-custom td{
        display: block;
        text-align: center;
        align-content: center;
    }
    .table-bordered-custom td {
        padding-left: 50%;
        position: relative;
        border: 1px solid #ddd !important;
    }

    .table-bordered-custom td:before {
        box-sizing: border-box;
        position: absolute;
        content: attr(data-label);
        top: 0;
        left: 0;
        padding: 2px;
        font-weight: bold;
        width: 50%;
    }
}

@media (max-width: 1199px) {
    .navbar-header {
        float: none;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        min-height: 45px !important;
    }

        .navbar-collapse.collapse {
            display: none !important;
            min-height: 45px !important;
        }

    .navbar-nav {
        float: none !important;
        margin: 7.5px -15px;
        min-height: 45px !important;
    }

        .navbar-nav > li {
            float: none;
        }

            .navbar-nav > li > a {
                padding-top: 10px;
                padding-bottom: 10px;
            }

    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block !important;
    }

    .collapsing {
        overflow: hidden !important;
    }
}

.icon-input-btn {
    display: inline-block;
    position: relative;
}

.icon-input-btn input[type="submit"] {
    padding-left: 2em;
}

.icon-input-btn .glyphicon {
    display: inline-block;
    position: absolute;
    left: 0.65em;
    top: 30%;
}

.table-scroll-parent{
  display: block;
  height: 600px;
  overflow-y: scroll;
  /*border: 1px solid black !important;*/
  /*font-size: 12px !important;*/
  /*font-weight: 800;*/
}

.table-scroll-parent-fit{
  display: block;
  height: 600px;
  overflow-y: scroll;
  /*border: 1px solid black !important;*/
  font-size: 12px !important;
  font-weight: 800;
}

.table-scroll-child-fit{
  display: block;
  height: 150px;
  overflow-y: scroll;
  border: 1px solid #cccccc !important;
  font-size: 12px !important;
  font-weight: 600;
}

.table-scroll-parent th{
  font-size: 14px !important;
  font-weight: 800;
}

.table-scroll-parent td, tr{
  border: 1px solid #cccccc !important;
    font-size: 12px !important;
    /*font-family: 'Arial' !important;*/
    font-weight: 800;
}

.table-scroll-child{
  display: block;
  height: 185px;
  overflow-y: scroll;
  border: 1px solid #cccccc !important;
  font-size: 12px !important;
  font-weight: 600;
}

.table-scroll-child-dark{
  display: block;
  height: 185px;
  overflow-y: scroll;
  border: 1px solid black !important;
  font-size: 12px !important;
  font-weight: 600;
}

.table-scroll-child-dark td, tr{
  border: 1px solid black !important;
    font-size: 12px !important;
    /*font-family: 'Arial' !important;*/
    font-weight: 800;
}

.table-scroll-child td, tr{
  border: 1px solid #cccccc !important;
    font-size: 12px !important;
    /*font-family: 'Arial' !important;*/
    font-weight: 800;
}

.table-scroll th {
    border: 1px solid #cccccc !important;
    font-size: 14px !important;
    /*font-family: 'Arial' !important;*/
    font-weight: 800;
}

.table-scroll-parent-small{
  display: block;
  height: 500px;
  overflow-y: scroll;
  /*border: 1px solid black !important;*/
  font-size: 12px !important;
  font-weight: 800;
}

.table-scroll-parent-small th{
  text-align: center;
  color: #18bc9c
}

.dropdown-cart>li>a { padding:15px 100px; }

.dropdown-cart {
  text-align: center;
}

.dropdown-login>li>a { padding:15px 200px; }

.dropdown-login {
  text-align: left;
}

a.freemarket-link { color: white }
