@{
    ViewBag.Title = "Pecan Nuts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

<div class="container">
    <div class="col-sm-12">
        <div class="row">
            <h1 class="text-center">Premium Nuts</h1>
            <hr />
        </div>
        @Html.Action("GetAllProducts")
    </div>
</div>

<div id="loadingDiv" style="display:none;"></div>


@Html.Partial("_CourierContainer")

