@{
    ViewBag.Title = "Pecan Nuts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

<div class="container">
    <div class="col-sm-12">
        <div class="row">
            <h1 class="text-center">Premium Nuts</h1>
            <hr />
        </div>
        @Html.Action("GetAllProducts")
    </div>
    <div class="col-sm-12">
        <div class="row text-center">
            @Html.ActionLink("Back to Home", "Index", "Home", null,  new { @class = "freemarket-link" })
        </div>
    </div>
</div>

<div id="loadingDiv" style="display:none;"></div>


@Html.Partial("_CourierContainer")

<script type="text/javascript">
    $(document).ready(function()
    {
        if (navigator.appName == "Opera")
        {
            $('#EditModal').removeClass('fade');
        }
    });
</script>

